### NLP100
#### 2クール目
### 実施日:H27.7/18~20,清書日:H27.11/15
#### 参考:http://www.cl.ecei.tohoku.ac.jp/nlp100/

## 第2章: UNIXコマンドの基礎
hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．
#### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．
#### 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．
#### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．
#### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．
#### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．
#### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．
#### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．
#### 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．
#### 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．
#### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

### 使用したデータhttp://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt

In [1]:
__name__="@Sanbongawa"

### ファイルの読み込み

In [1]:
f = open("hightemp.txt")
data = f.read()
f.close()
data

'高知県\t江川崎\t41\t2013-08-12\n埼玉県\t熊谷\t40.9\t2007-08-16\n岐阜県\t多治見\t40.9\t2007-08-16\n山形県\t山形\t40.8\t1933-07-25\n山梨県\t甲府\t40.7\t2013-08-10\n和歌山県\tかつらぎ\t40.6\t1994-08-08\n静岡県\t天竜\t40.6\t1994-08-04\n山梨県\t勝沼\t40.5\t2013-08-10\n埼玉県\t越谷\t40.4\t2007-08-16\n群馬県\t館林\t40.3\t2007-08-16\n群馬県\t上里見\t40.3\t1998-07-04\n愛知県\t愛西\t40.3\t1994-08-05\n千葉県\t牛久\t40.2\t2004-07-20\n静岡県\t佐久間\t40.2\t2001-07-24\n愛媛県\t宇和島\t40.2\t1927-07-22\n山形県\t酒田\t40.1\t1978-08-03\n岐阜県\t美濃\t40\t2007-08-16\n群馬県\t前橋\t40\t2001-07-24\n千葉県\t茂原\t39.9\t2013-08-11\n埼玉県\t鳩山\t39.9\t1997-07-05\n大阪府\t豊中\t39.9\t1994-08-08\n山梨県\t大月\t39.9\t1990-07-19\n山形県\t鶴岡\t39.9\t1978-08-03\n愛知県\t名古屋\t39.9\t1942-08-02\n'

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [4]:
!wc ./hightemp.txt

      24      98     813 ./hightemp.txt

In [6]:
li = open("hightemp.txt").readlines()
len(li)

24

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [7]:
!expand ./hightemp.txt

高知県  江川崎  41      2013-08-12
埼玉県  熊谷    40.9    2007-08-16
岐阜県  多治見  40.9    2007-08-16
山形県  山形    40.8    1933-07-25
山梨県  甲府    40.7    2013-08-10
和歌山県        かつらぎ        40.6    1994-08-08
静岡県  天竜    40.6    1994-08-04
山梨県  勝沼    40.5    2013-08-10
埼玉県  越谷    40.4    2007-08-16
群馬県  館林    40.3    2007-08-16
群馬県  上里見  40.3    1998-07-04
愛知県  愛西    40.3    1994-08-05
千葉県  牛久    40.2    2004-07-20
静岡県  佐久間  40.2    2001-07-24
愛媛県  宇和島  40.2    1927-07-22
山形県  酒田    40.1    1978-08-03
岐阜県  美濃    40      2007-08-16
群馬県  前橋    40      2001-07-24
千葉県  茂原    39.9    2013-08-11
埼玉県  鳩山    39.9    1997-07-05
大阪府  豊中    39.9    1994-08-08
山梨県  大月    39.9    1990-07-19
山形県  鶴岡    39.9    1978-08-03
愛知県  名古屋  39.9    1942-08-02

In [81]:
f = open("hightemp.txt")
data = f.read()
f.close()
print(data.replace("\t","  "))

高知県  江川崎  41  2013-08-12
埼玉県  熊谷  40.9  2007-08-16
岐阜県  多治見  40.9  2007-08-16
山形県  山形  40.8  1933-07-25
山梨県  甲府  40.7  2013-08-10
和歌山県  かつらぎ  40.6  1994-08-08
静岡県  天竜  40.6  1994-08-04
山梨県  勝沼  40.5  2013-08-10
埼玉県  越谷  40.4  2007-08-16
群馬県  館林  40.3  2007-08-16
群馬県  上里見  40.3  1998-07-04
愛知県  愛西  40.3  1994-08-05
千葉県  牛久  40.2  2004-07-20
静岡県  佐久間  40.2  2001-07-24
愛媛県  宇和島  40.2  1927-07-22
山形県  酒田  40.1  1978-08-03
岐阜県  美濃  40  2007-08-16
群馬県  前橋  40  2001-07-24
千葉県  茂原  39.9  2013-08-11
埼玉県  鳩山  39.9  1997-07-05
大阪府  豊中  39.9  1994-08-08
山梨県  大月  39.9  1990-07-19
山形県  鶴岡  39.9  1978-08-03
愛知県  名古屋  39.9  1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ

In [52]:
!cut -f  1 ./hightemp.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

In [53]:
!cut -f  2 ./hightemp.txt

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [82]:
f = open("hightemp.txt")
data = f.read()
f.close()
import re
d = re.split(r'\n|\t',data)
e = d[0::4]
print(c)
print(e)

['高知県', '江川崎', '41', '2013-08-12', '埼玉県', '熊谷', '40.9', '2007-08-16', '岐阜県', '多治見', '40.9', '2007-08-16', '山形県', '山形', '40.8', '1933-07-25', '山梨県', '甲府', '40.7', '2013-08-10', '和歌山県', 'かつらぎ', '40.6', '1994-08-08', '静岡県', '天竜', '40.6', '1994-08-04', '山梨県', '勝沼', '40.5', '2013-08-10', '埼玉県', '越谷', '40.4', '2007-08-16', '群馬県', '館林', '40.3', '2007-08-16', '群馬県', '上里見', '40.3', '1998-07-04', '愛知県', '愛西', '40.3', '1994-08-05', '千葉県', '牛久', '40.2', '2004-07-20', '静岡県', '佐久間', '40.2', '2001-07-24', '愛媛県', '宇和島', '40.2', '1927-07-22', '山形県', '酒田', '40.1', '1978-08-03', '岐阜県', '美濃', '40', '2007-08-16', '群馬県', '前橋', '40', '2001-07-24', '千葉県', '茂原', '39.9', '2013-08-11', '埼玉県', '鳩山', '39.9', '1997-07-05', '大阪府', '豊中', '39.9', '1994-08-08', '山梨県', '大月', '39.9', '1990-07-19', '山形県', '鶴岡', '39.9', '1978-08-03', '愛知県', '名古屋', '39.9', '1942-08-02', '']
['高知県', '埼玉県', '岐阜県', '山形県', '山梨県', '和歌山県', '静岡県', '山梨県', '埼玉県', '群馬県', '群馬県', '愛知県', '千葉県', '静岡県', '愛媛県', '山形県', '岐阜県', '群馬県', '千葉県', '埼玉県', '大阪府', '山梨県', '山形県', '愛知県', '']

In [83]:
f = open("col1.txt","w")
f.write("\n".join(e))
f.close()
f = open("col1.txt","r")
g = f.read()
f.close()
print(g)

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

In [84]:
l = d[1:-1:4]
f = open("col2.txt","w")
f.write("\n".join(l))
f.close()
f = open("col2.txt","r")
g = f.read()
f.close()
print(g)

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [61]:
!paste ./col1.txt ./col2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [65]:
f = open ("col1.txt","r")
a1 = f.read()
f.close()
print(a1)
b1 = a1.splitlines()
b1

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

['高知県',
 '埼玉県',
 '岐阜県',
 '山形県',
 '山梨県',
 '和歌山県',
 '静岡県',
 '山梨県',
 '埼玉県',
 '群馬県',
 '群馬県',
 '愛知県',
 '千葉県',
 '静岡県',
 '愛媛県',
 '山形県',
 '岐阜県',
 '群馬県',
 '千葉県',
 '埼玉県',
 '大阪府',
 '山梨県',
 '山形県',
 '愛知県']

In [66]:
f = open ("col2.txt","r")
a2 = f.read()
f.close()
print(a2)
b2 = a2.splitlines()
b2

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

['江川崎',
 '熊谷',
 '多治見',
 '山形',
 '甲府',
 'かつらぎ',
 '天竜',
 '勝沼',
 '越谷',
 '館林',
 '上里見',
 '愛西',
 '牛久',
 '佐久間',
 '宇和島',
 '酒田',
 '美濃',
 '前橋',
 '茂原',
 '鳩山',
 '豊中',
 '大月',
 '鶴岡',
 '名古屋']

In [67]:
a3 = []
for i in range(len(b1)):
    a3.append(b1[i] + "\t" + b2[i])
print(a3)

['高知県\t江川崎', '埼玉県\t熊谷', '岐阜県\t多治見', '山形県\t山形', '山梨県\t甲府', '和歌山県\tかつらぎ', '静岡県\t天竜', '山梨県\t勝沼', '埼玉県\t越谷', '群馬県\t館林', '群馬県\t上里見', '愛知県\t愛西', '千葉県\t牛久', '静岡県\t佐久間', '愛媛県\t宇和島', '山形県\t酒田', '岐阜県\t美濃', '群馬県\t前橋', '千葉県\t茂原', '埼玉県\t鳩山', '大阪府\t豊中', '山梨県\t大月', '山形県\t鶴岡', '愛知県\t名古屋']

In [73]:
f = open('col3.txt','w')
f.write("\n".join(a3))
f.close()
f=open('col3.txt')
text = f.read()
f.close()
print(text)

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [74]:
!head -n 4 ./hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

In [79]:
f = open("hightemp.txt")
data = f.read()
f.close()
d2 = data.splitlines()
d2

['高知県\t江川崎\t41\t2013-08-12',
 '埼玉県\t熊谷\t40.9\t2007-08-16',
 '岐阜県\t多治見\t40.9\t2007-08-16',
 '山形県\t山形\t40.8\t1933-07-25',
 '山梨県\t甲府\t40.7\t2013-08-10',
 '和歌山県\tかつらぎ\t40.6\t1994-08-08',
 '静岡県\t天竜\t40.6\t1994-08-04',
 '山梨県\t勝沼\t40.5\t2013-08-10',
 '埼玉県\t越谷\t40.4\t2007-08-16',
 '群馬県\t館林\t40.3\t2007-08-16',
 '群馬県\t上里見\t40.3\t1998-07-04',
 '愛知県\t愛西\t40.3\t1994-08-05',
 '千葉県\t牛久\t40.2\t2004-07-20',
 '静岡県\t佐久間\t40.2\t2001-07-24',
 '愛媛県\t宇和島\t40.2\t1927-07-22',
 '山形県\t酒田\t40.1\t1978-08-03',
 '岐阜県\t美濃\t40\t2007-08-16',
 '群馬県\t前橋\t40\t2001-07-24',
 '千葉県\t茂原\t39.9\t2013-08-11',
 '埼玉県\t鳩山\t39.9\t1997-07-05',
 '大阪府\t豊中\t39.9\t1994-08-08',
 '山梨県\t大月\t39.9\t1990-07-19',
 '山形県\t鶴岡\t39.9\t1978-08-03',
 '愛知県\t名古屋\t39.9\t1942-08-02']

In [92]:
n = int(input())
for i in range(len(d2[0:n])):
    print("".join(d2[i]))

4
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [85]:
!tail -n 3 ./hightemp.txt

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [86]:
f = open("hightemp.txt")
data = f.read()
f.close()

In [91]:
n = int(input())
print("\n".join(d2[-n:]))

4
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [96]:
!split -l 8 ./hightemp.txt ./Divide.txt

In [102]:
f=open('Divide.txtaa')#aa,ab,acの３分割
text = f.read()
f.close()
print(text)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10

In [104]:
n = int(input())
i = 1
for j in range(n):
    if j == 0:
        print(i)
        print("\n".join(d2[0:n]))  
    else:
        print(i+1)
        print("\n".join(d2[n*i:n*(i+1)]))
        i = i+1

5
1
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
2
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
3
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
4
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
5
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [235]:
!cut -f1 ./hightemp.txt | sort | uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

In [134]:
f = open("hightemp.txt")
data = f.read()
f.close()
print(data)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [135]:
a = data.split()
a

['高知県',
 '江川崎',
 '41',
 '2013-08-12',
 '埼玉県',
 '熊谷',
 '40.9',
 '2007-08-16',
 '岐阜県',
 '多治見',
 '40.9',
 '2007-08-16',
 '山形県',
 '山形',
 '40.8',
 '1933-07-25',
 '山梨県',
 '甲府',
 '40.7',
 '2013-08-10',
 '和歌山県',
 'かつらぎ',
 '40.6',
 '1994-08-08',
 '静岡県',
 '天竜',
 '40.6',
 '1994-08-04',
 '山梨県',
 '勝沼',
 '40.5',
 '2013-08-10',
 '埼玉県',
 '越谷',
 '40.4',
 '2007-08-16',
 '群馬県',
 '館林',
 '40.3',
 '2007-08-16',
 '群馬県',
 '上里見',
 '40.3',
 '1998-07-04',
 '愛知県',
 '愛西',
 '40.3',
 '1994-08-05',
 '千葉県',
 '牛久',
 '40.2',
 '2004-07-20',
 '静岡県',
 '佐久間',
 '40.2',
 '2001-07-24',
 '愛媛県',
 '宇和島',
 '40.2',
 '1927-07-22',
 '山形県',
 '酒田',
 '40.1',
 '1978-08-03',
 '岐阜県',
 '美濃',
 '40',
 '2007-08-16',
 '群馬県',
 '前橋',
 '40',
 '2001-07-24',
 '千葉県',
 '茂原',
 '39.9',
 '2013-08-11',
 '埼玉県',
 '鳩山',
 '39.9',
 '1997-07-05',
 '大阪府',
 '豊中',
 '39.9',
 '1994-08-08',
 '山梨県',
 '大月',
 '39.9',
 '1990-07-19',
 '山形県',
 '鶴岡',
 '39.9',
 '1978-08-03',
 '愛知県',
 '名古屋',
 '39.9',
 '1942-08-02']

In [227]:
b = a[:-1:4]

In [228]:
b

['高知県',
 '埼玉県',
 '岐阜県',
 '山形県',
 '山梨県',
 '和歌山県',
 '静岡県',
 '山梨県',
 '埼玉県',
 '群馬県',
 '群馬県',
 '愛知県',
 '千葉県',
 '静岡県',
 '愛媛県',
 '山形県',
 '岐阜県',
 '群馬県',
 '千葉県',
 '埼玉県',
 '大阪府',
 '山梨県',
 '山形県',
 '愛知県']

In [229]:
c = set(b) 
c

{'千葉県',
 '和歌山県',
 '埼玉県',
 '大阪府',
 '山形県',
 '山梨県',
 '岐阜県',
 '愛媛県',
 '愛知県',
 '群馬県',
 '静岡県',
 '高知県'}

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [203]:
!sort -r -k 3,3 ./hightemp.txt

高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
愛知県	愛西	40.3	1994-08-05
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
愛知県	名古屋	39.9	1942-08-02
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03

In [ ]:
f = open("hightemp.txt")
data = f.read()
f.close()
print(data)
a = data.split()
b = [a[i*4:(i+1)*4] for i in range(int(len(a)/4))]

In [158]:
b = [a[i*4:(i+1)*4] for i in range(int(len(a)/4))]

In [159]:
print(b)

[['高知県', '江川崎', '41', '2013-08-12'], ['埼玉県', '熊谷', '40.9', '2007-08-16'], ['岐阜県', '多治見', '40.9', '2007-08-16'], ['山形県', '山形', '40.8', '1933-07-25'], ['山梨県', '甲府', '40.7', '2013-08-10'], ['和歌山県', 'かつらぎ', '40.6', '1994-08-08'], ['静岡県', '天竜', '40.6', '1994-08-04'], ['山梨県', '勝沼', '40.5', '2013-08-10'], ['埼玉県', '越谷', '40.4', '2007-08-16'], ['群馬県', '館林', '40.3', '2007-08-16'], ['群馬県', '上里見', '40.3', '1998-07-04'], ['愛知県', '愛西', '40.3', '1994-08-05'], ['千葉県', '牛久', '40.2', '2004-07-20'], ['静岡県', '佐久間', '40.2', '2001-07-24'], ['愛媛県', '宇和島', '40.2', '1927-07-22'], ['山形県', '酒田', '40.1', '1978-08-03'], ['岐阜県', '美濃', '40', '2007-08-16'], ['群馬県', '前橋', '40', '2001-07-24'], ['千葉県', '茂原', '39.9', '2013-08-11'], ['埼玉県', '鳩山', '39.9', '1997-07-05'], ['大阪府', '豊中', '39.9', '1994-08-08'], ['山梨県', '大月', '39.9', '1990-07-19'], ['山形県', '鶴岡', '39.9', '1978-08-03'], ['愛知県', '名古屋', '39.9', '1942-08-02']]

In [180]:
c = sorted(b)
c[0]

['千葉県', '牛久', '40.2', '2004-07-20']

In [202]:
c = sorted(b,key=lambda x:(x[0],x[2]))
for i in c:
    d = '\t'.join(i)
    print(d)

千葉県	茂原	39.9	2013-08-11
千葉県	牛久	40.2	2004-07-20
和歌山県	かつらぎ	40.6	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
埼玉県	越谷	40.4	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
大阪府	豊中	39.9	1994-08-08
山形県	鶴岡	39.9	1978-08-03
山形県	酒田	40.1	1978-08-03
山形県	山形	40.8	1933-07-25
山梨県	大月	39.9	1990-07-19
山梨県	勝沼	40.5	2013-08-10
山梨県	甲府	40.7	2013-08-10
岐阜県	美濃	40	2007-08-16
岐阜県	多治見	40.9	2007-08-16
愛媛県	宇和島	40.2	1927-07-22
愛知県	名古屋	39.9	1942-08-02
愛知県	愛西	40.3	1994-08-05
群馬県	前橋	40	2001-07-24
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
静岡県	佐久間	40.2	2001-07-24
静岡県	天竜	40.6	1994-08-04
高知県	江川崎	41	2013-08-12

In [208]:
c = reversed(sorted(b,key=lambda x:(x[2])))#strでなければlambda x:(-x[2])で逆順可能
for i in c:
    d = '\t'.join(i)
    print(d)

高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [226]:
!cut -f1 ./hightemp.txt | sort | uniq -c | sort -r

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府

In [245]:
f = open("hightemp.txt")
data = f.read()
f.close()
a = data.split()
b = a[:-1:4]

In [261]:
def countman(cnt):
    from collections import Counter
    li=[]
    wo=[]
    for j in range(len(cnt)):
        li.append(cnt[j])
    li1 = reversed(sorted(li))
    counter = Counter(li1)
    
    for word, cnt in counter.most_common():
        print ('出現数:', cnt,' 頻出単語:',word,)

In [262]:
countman(b)

出現数: 3  頻出単語: 埼玉県
出現数: 3  頻出単語: 群馬県
出現数: 3  頻出単語: 山形県
出現数: 3  頻出単語: 山梨県
出現数: 2  頻出単語: 千葉県
出現数: 2  頻出単語: 愛知県
出現数: 2  頻出単語: 静岡県
出現数: 2  頻出単語: 岐阜県
出現数: 1  頻出単語: 和歌山県
出現数: 1  頻出単語: 愛媛県
出現数: 1  頻出単語: 大阪府
出現数: 1  頻出単語: 高知県